.imageContainerSnake3 {
    width: 15rem;
    height: 8rem;
    position: relative;
    top: -5rem;
    left: -12rem;
  
    .snake3 {
      width: 15rem;
      height: 15rem;
    }
  }
  
  .imageContainerSnake2 {
    width: 15rem;
    height: 8rem;
    position: relative;
    top: -3rem;
    left: -7rem;
  
    .snake2 {
      width: 15rem;
      height: 8rem;
    }
  }
  .imageContainerSnake {
    width: 15rem;
    height: 8rem;
    position: relative;
    top: -3rem;
    left: -7rem;
  
    .snake {
      width: 15rem;
      height: 8rem;
    }
  }
  
  .imageContainerSnake4 {
    width: 5rem;
    height: 11rem;
    top: -2rem;
    left: -1rem;
    position: relative;
  
    .snake4 {
      width: 5rem;
      height: 11rem;
    }
  }
  
  .imageContainerSnake5 {
    width: 17rem;
    height: 15rem;
    top: -2rem;
    left: 1rem; /* Reversed */
    position: relative;
    
  
    .snake5 {
      width: 17rem;
      height: 15rem;
    }
  }
  
  .imageContainerSnake6 {
    width: 10rem;
    height: 12rem;
    position: relative;
    top: 50rem;
    left: -20rem; /* Reversed */
    transform: rotate(180deg); /* Flips the container */
  
    .snake6 {
      width: 30rem;
      height: 45rem;
    }
  }
  
  
  .imageContainerSnake7 {
    width: 12rem;
    height: 9rem;
    position: relative;
    top: -75rem;
    left: 20rem; /* Reversed */
    
  
    .snake7 {
      width: 12rem;
      height: 40rem;
    }
  }
  
  .imageContainerSnake8 {
    width: 8rem;
    height: 14rem;
    position: relative;
    top: -3rem;
    left: 3rem; /* Reversed */
    transform: rotate(180deg);
  
    .snake8 {
      width: 8rem;
      height: 14rem;
    }
  }
  
  .imageContainerSnake9 {
    width: 8rem;
    height: 14rem;
    position: relative;
    top: -46rem;
    left: 4rem; /* Reversed */
    transform: rotate(180deg);
  
    .snake9 {
      width: 25rem;
      height: 30rem;
    }
  }
  
  .imageContainerSnake10 {
    width: 8rem;
    height: 14rem;
    position: relative;
    top: -3rem;
    left: 2rem; /* Reversed */
    transform: rotate(180deg);
  
    .snake10 {
      width: 8rem;
      height: 24rem;
    }
  }
  
  
  .imageContainerLadder1 {
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -30rem;
    left: -2rem;
  
    .ladder1 {
      width: 6rem;
      height: 30rem;
    }
  }
  
  
  .imageContainerLadder2 {
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -14rem;
    left: 17rem;
  
    .ladder2 {
      width: 6rem;
      height: 30rem;
    }
  }
  .imageContainerLadder3 {
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -14rem;
    left: -2rem;
  
    .ladder3 {
      width: 6rem;
      height: 20rem;
    }
  }
  .imageContainerLadder4 {
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -70rem;
    left: -2rem;
  
    .ladder4 {
      width: 6rem;
      height: 30rem;
    }
  }
  .imageContainerLadder5 {
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -60rem;
    left: -3rem;
  
    .ladder5 {
      width: 6rem;
      height: 30rem;
    }
  }
  .imageContainerLadder6 {
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -14rem;
    left: -1rem;
  
    .ladder6 {
      width: 4rem;
      height: 30rem;
    }
  }
  .imageContainerLadder7 {
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -20rem;
    left: -23rem;
  
    .ladder7 {
      width: 6rem;
      height: 30rem;
    }
  }
  .imageContainerP1 {
    width: 2rem;
    height: 2rem;
    top: -5rem;
    left: -2rem;
    position: relative;
  
    .P1 {
      width: 4rem;
      height: 6rem;
    }
  }
  
  .imageContainerP2 {
    width: 2rem;
    height: 2rem;
    top: -5rem;
    left: -2rem;
    position: relative;
  
    .P2 {
      width: 4rem;
      height: 6rem;
    }
  }
  